page-social {
    .segment-md .segment-button.segment-activated{
        color:red;
        border-color: red;
    }
    .segment-md .segment-button.segment-activated::after{
        content: "";
        width: 15px;
        position: absolute;
        z-index: 999999;
        bottom: 0;
        left: 45%;
        border-bottom: 2px solid red;
    }
    .segment-md .segment-button{
        color:grey;
        border-bottom-width: 0px;
    }
    ion-segment{
        background:white;
    }
    .social-text-color{
        color:red;
    }
    .button-outline-md-light{
        border-color: #ada2a2;
        color: #ada2a2;
        background: white;
    }
    .selected-btn{
        border: 1px solid red !important;
        color:red;
    }
    .top-list-background{
        background: rgba(178, 181, 185, 0.2);
    }
    ion-item.bg-clr{
        background: rgba(178, 181, 185, 0) !important;
        border: none;
    }
   
    .radio-icon{
        border-color:rgba(120, 120, 120, 0.36) !important;
    }
    .big{
        font-size: 20px;
    }
    .red-left {
        border-left: 8px solid #ff0000;
        padding: 0;
        padding-left: 5px;
        height: 24px;
    }
    .red-right {
        padding: 0;
    }
    .bg-white{
        background: white !important;
    }
    .tick-size{
        font-size: 1.3em;
    }
    .button-md-danger{
        border-radius: 3px;
        height: 27px;
    }
    .btn-circle{
        border-radius: 50% !important;
        top: 23px;
        height: 30px;
    }
    .social-img{
        width: 30px;
        float: left;
        margin-right: 5px;
    }
    .selected-btn::after {
        content: "";
        background: #ff0000;
        color: #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        padding: 0 12px;
        margin: -15px 0 0 13px;
        position: absolute;
        width: 20px;
        height: 20px;
        right: -12px;
        top: 38px;
      }
      .selected-btn::before {
        content: "\f3ff";
        color: #fff;
        padding: 0 12px;
        margin: 19px 0 0 13px;
        position: absolute;
        font-family: "Ionicons";
        z-index: 9;
        font-size: 20px;
        right: -8px;
        top: -2px;
      }
    .ticked-icon {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .borderdashbottom {
        border-bottom: 2px solid red;
        border-bottom-style: dashed;
    }
    .left-radio .radio-md .radio-icon {
        left: 17px;
        top: 16px;
        position: absolute;
    }
    .left-radio.item-radio.item-md ion-label {
        margin: 3px 0 0 23px !important;
    }
    .social-header {
        display: inline-block;
        margin-top: 5px;
    }
    .text-know h2 {
        margin-top:0 !important;
    }
    .padding-zero {
        padding:0;
    }
    .card-header-md {
        font-size: 1.6rem;
        color: #222;
        padding: 8px;
    }
    .card-content-md {
    padding: 13px 16px 8px;
    }
    .card-md p {
    margin: 0 0 2px 15px;
    }
    .text-label {
        margin-bottom:5px;
        padding: 8px;
    }
}
