page-login {

    .toolbar-background {
        background: $header-bg-color;
    }
    .toolbar-title {
        color: $secondary-color;
    }
    .bannersection h3 {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 30px;
        left: 50%;
        margin: 0 0;
        color: $secondary-color;
        width: 80%;
        text-align: center
    }
    .bannersection .clist {
        top: 45%;
    }
    .bannersection .clist .icon {
        font-size: 1.4em;
    }
    .bannersection {
        position: relative;
    }
    .bar-button-default,
    .bar-button-default.bar-button-default,
    .bar-button-clear-default {
        color: $secondary-color !important;
    }
    .input-wrapper {
        padding-left: 10px;
        border-bottom: solid 1px #ddd !important;
    }
    .label+ion-input .text-input,
    .label+ion-textarea .text-input,
    .label+.input+.cloned-input {
        color: $primary-font-color;
    }
    .button {
        background-color: #EF0100 !important;
    }
    .forgot-text {
        font-size: 12px;
        text-decoration: none;
    }
    .header-ios .toolbar-background-ios {
        border: none;
    }
    .social {
        text-align: center;
        color: $primary-font-color;
        font-size: 14px;
        border: none;
        border-top: solid 1px #bbb;
    }
    .social a {}
    .social a img {
        width: 60px;
        height: auto;
        margin: 0 10px;
        display: inline-block;
    }
    .list-ios>.item-block:first-child {
        /* border-top: 0.55px solid #c8c7cc; */
        border: none;
    }


    .cc img {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }
    .cc span {
        font-size: 16px;
        margin-top: 5px;
        display: inline-block;
    }
    .cc a {
        font-size: 15px;
        margin-top: 5px;
    }
    .phone .item-inner {
        border: none !important;
        border-top: solid 1px #888;
    }
    .phone .label {
        color: #888;
        border-right: solid 1px #888;
    }

    .fs01 {
        width: 80%;
        margin: 0 auto;
    }
    .fs01 input {
        text-align: center;
    }
}

.scroll-content,
.fixed-content {
    margin-bottom: 0px !important
}

