<ion-header>

    <ion-navbar>
        <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="bannersection">

        <img src="assets/img/bannercontact.PNG">
        <h3 class="clist">

            <br/>
            <span *ngIf="cat == 'login' ">{{'LOGIN_SUBTITLE' | translate}}</span>
            <span *ngIf="cat == 'register' ">{{'SIGNUP_SUBTITLE' | translate}}</span>

        </h3>
    </div>
    <ion-segment padding [(ngModel)]="cat" color="danger">
        <ion-segment-button value="login">
            Login


        </ion-segment-button>
        <ion-segment-button value="register">
            Register
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="cat">
        <form *ngSwitchCase="'login'" (submit)="doLogin()" padding-horizontal>
            <ion-list margin-horizontal>

                <ion-item margin-top>
                    <ion-label>
                        <ion-icon name="phone-portrait"></ion-icon>
                    </ion-label>
                    <ion-input type="number" [(ngModel)]="signinAccount.phone.num" name="phone"></ion-input>
                </ion-item>

                <ion-item margin-top>

                    <ion-label>

                        <ion-icon ios="ios-unlock-outline" md="md-unlock"></ion-icon>
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="signinAccount.password" name="password"></ion-input>
                </ion-item>
                <div padding>
                    <a (click)=" forgotPassword()" class="forgot-text" float-right>{{'FORGOT_PASSWORD' | translate}}</a>
                </div>
                <div margin padding-vertical>

                    <button ion-button block>{{ 'LOGIN_BUTTON' | translate }}</button>
                </div>

                <fieldset padding-top class="social">
                    <legend>{{'SOCIAL' | translate}}</legend>
                    <div padding>
                        <a (click) = "signinWithFacebook($event)"><img src="assets/img/facebook.png" alt=""></a>

                        <a (click) = "signinWithGoogle()"><img src="assets/img/g+.png" width=a lt=""></a>
                    </div>

                </fieldset>
            </ion-list>
        </form>

        <form *ngSwitchCase="'register-backup'" (submit)="doSignup()" padding>
            <ion-list margin-horizontal>


                <ion-item>
                    <ion-label>
                        <ion-icon ios="ios-person-outline" md="md-person"></ion-icon>
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon>
                    </ion-label>
                    <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
                </ion-item>


                <ion-item>
                    <ion-label>
                        <ion-icon ios="ios-unlock-outline" md="md-unlock"></ion-icon>
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
                </ion-item>
                <div class="remember" padding>
                    <ion-checkbox color="danger" [(ngModel)]="account.remember" name="remember"></ion-checkbox>
                    <span>
                {{ 'REMEMBER' | translate }}
                </span>
                </div>

                <div margin padding-vertical>

                    <button ion-button block>{{ 'SIGNUP_BUTTON' | translate }}</button>
                </div>


            </ion-list>
        </form>

        <div *ngSwitchCase="'register'" >
            <div id="recaptcha-container"></div>
            <div id="recaptcha-container2"></div>
            <form *ngIf="!confirming" margin >
                <ion-list margin-vertical>
                    <ion-item padding-horizontal class="cc">
                        <img src="assets/countries/{{phone.cc.code}}.png" width="30" alt="">
                        <span>{{signupAccount.phone.cc.name}}</span>
                        <a float-right (click)="selectCountry($event)">Change</a>
                    </ion-item>
                    <ion-item margin-vertical class="phone">
        
                        <ion-label margin-vertical padding-horizontal>
        
                            <span>{{signupAccount.phone.cc.dail_code}}</span>
                        </ion-label>
                        <ion-input type="number" placeholder="{{'BIND_PHONE_PH' | translate}}" [(ngModel)]="signupAccount.phone.num" name="phone"></ion-input>
                    </ion-item>
        
                    <div margin padding-vertical>
        
                        <button color="danger" ion-button block (click) = "getCode()">
                            <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>&nbsp; 
                            {{ 'BIND_PHONE_BUTTON' | translate }}</button>
                    </div>
                </ion-list>
            </form>

            <form *ngIf="confirming" margin (submit)="verifyCode()">
                    
                <ion-list margin padding-horizontal>
                    <ion-item >
                        <ion-input type="number" placeholder="验证码" [(ngModel)]="signupAccount.phone.authCode" name="authCode"></ion-input>
                    </ion-item>
                    <ion-item >
                        <ion-input type="password" placeholder="输入账户密码" [(ngModel)]="signupAccount.password" name="password"></ion-input>
                    </ion-item>
                    
        
                    <div margin padding-vertical>
        
                        <button color="danger" ion-button block>
                            <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>&nbsp; 
                            {{ 'VERIFY_BUTTON' | translate }}</button>
                    </div>
        
        
                </ion-list>
            </form>

        </div>
    </div>
</ion-content>