page-forgot-password {
    .toolbar-background {
        background: $header-bg-color;
    }
    .toolbar-title {
        color: $secondary-color;
    }
    .list-ios>.item-block:first-child {
        /* border-top: 0.55px solid #c8c7cc; */
        border: none;
    }
    .bannersection h3 {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 30px;
        left: 50%;
        margin: 0 0;
        color: $secondary-color;
        width: 80%;
        text-align: center
    }
    .bannersection .clist {
        top: 45%;
    }
    .bannersection .clist .icon {
        font-size: 1.4em;
    }
    .bannersection {
        position: relative;
    }
    .fs01 {
        width: 80%;
        margin: 0 auto;
    }
    .fs01 input {
        text-align: center;
    }
    .reset-text {
        color: $primary-font-color;
        text-align: center;
    }
    .reset-text h4 {
        font-size: 17px;
    }
}