page-clock {
    ion-grid.custom-timer-products.grid p {
        margin: 0 0 0;
    }
    p.timer {
        color: red;
        font-size: 25px;
    }
    ion-grid.custom-timer-products.grid {
        padding: 0;
        background: #ececec;
    }
    ion-grid.custom-timer-products.grid ion-row.row {
        margin: 10px 0 0;
        background: #fff;
    }
    .scrolltop {
        background: rgba(243, 243, 243, 0.86);
        width: 100%;
        float: left;
    }
    .scrolltop img {
        margin: 0px 16px 5px 0px;
        float: right;
        height: 50px;
    }
    .small {
        font-size: 14px;
    }
    .text-grey {
        color: $color-grey;
    }
    .text-red {
        color: $color-red;
    }
}