page-table-view {

    $med-mobile: "(max-width: 650px)";
    $min-mobile: "(max-width: 557px)";
    $and-mobile: "(max-width: 450px)";
    $ios-mobile: "(max-width: 370px)";

    .card-box {
        border:1px solid $color-red;
        background: $background-color;
        border-radius:3px;
        padding: 10px 6px;
        color: $color-red;
        text-align:center;
        display: inline-block;
        font-size: 8px;
        width: 69%;
    }
    
    .equalsign {
        color: $color-red;
        text-align:center;
        font-size: 17px;
        margin-top: 7px;
        // margin-left: 13%;
    }
    .card-box-col-4 {
        float:left;
        width:27%;
    }
    .sign-box {
        display: inline-block;
        color: $color-red;
    }
    .card-box-red {
        background: $color-red;
        color: $color-white;
        padding: 5px 10px;
    }
    .col-3div {
        width:25%;
        float:left;
        border:1px solid $color-red;
        padding: 10px 0;
        font-size: 12px;
        text-align: center;
    }
    .col-6div {
        width:50%;
        float:left;
        border:1px solid $color-red;
        padding: 10px 0;
        font-size: 13px;
        text-align: center;
    }
    .full-width-table {
        padding: 0;
    }
    .color-red {
        color: $color-red;
    }
    .table {
        border: 1px solid $color-red;
    }
    @media #{$med-mobile} {
        .equalsign {
            margin-left: 20%;
        }
    }
    @media #{$min-mobile} {
        .sign-box {
            width: 15%;
            display: inline-block;
            text-align: center;
        }
        .card-box {
            div{
                height: 16px;
                overflow: hidden;
            }
            font-size: 7px;
            width: 80%;
            display: inline-block;
        }
        .equalsign {
            // margin-left: 4%;
        }
    }
    
    @media #{$and-mobile} {
        .equalsign {
            // margin-left: 18%;
        }
    }
    @media #{$ios-mobile} {
        .equalsign {
            // margin-left: 35%;
        }
    }
}