<ion-header>

    <ion-navbar color="danger">
        <ion-title>{{ 'HOME_TITLE' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <img src="assets/img/banner.PNG">
    <div class="bannerdetail">
        <ion-icon name="volume-up" color="danger"></ion-icon> SmartPhone iPhone 7 128G XXXXXXXXXXXX
    </div>
    <div class="products-heading">
        <ion-icon name="arrow-round-back" color="danger"></ion-icon> <img src="assets/img/icontimeglass.PNG">
        <ion-label color="danger" (click)="tablepage()"> Products </ion-label>
        <ion-icon name="arrow-round-forward" color="danger"></ion-icon>
    </div>

    <ion-grid class="main-custom-grid">
        <ion-row>
            <ion-col col-6 *ngFor=" let p of launchedProducts">
                <div class="innercolumn">
                    <!-- <ion-slides>
                        <ion-slide *ngFor="let img of p.images">
                            <img src="{{img}}">
                        </ion-slide>

                    </ion-slides> -->

                    <div *ngFor="let img of p.images">
                        <img src="{{img}}">
                    </div>

                    <p> Product Name: {{p.name}} </p>

                    <ion-grid class="bottom-col">
                        <ion-row>
                            <ion-col col-8 class="bottom-col">
                                <div class="innercolumn">
                                    <p color="danger"> {{p.participants}} / {{p.price}} </p>
                                    <div class="progress-outer">
                                        <!-- <div class="progress-inner" [style.width]="70 + '%'"></div> -->
                                        <div class="progress-inner" [ngStyle]="{'width.%':p.progress}"></div>
                                    </div>
                                </div>
                                
                               
                            </ion-col>
                            <ion-col col-4 align-self-center class="bottom-col">
                                <!-- <div class="innercolumn">
                                    <button (click)="viewRoundDetails(p.id)" ion-button color="danger" small outline>{{'drawnow' | translate}}</button>
                                </div> -->
                                <button (click)="viewRoundDetails(p.id)" ion-button color="danger" small outline>{{'drawnow' | translate}}</button>
                                    
                            </ion-col>
                            
                        </ion-row>
                    </ion-grid>


                   
                    
                    
                    <!--<p> Status: <span style="color: red;">{{r.status}}</span> </p>-->
                    <!--<p>
                        <ion-label color="danger">{{r.product.price}}</ion-label><button (click)="viewRoundDetails(r.id)" ion-button color="danger" outline>Buy Now</button></p>-->
                    
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <div class="scrolltop">
        <img src="assets/img/scrolltop.PNG">
    </div>
</ion-content>