<ion-header>
  <ion-navbar>
    <ion-title>API Tests Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">Login</ion-item-divider>
    <ion-item text-center>
      <button ion-button clear (click)="redirectToLogin()">Redirect to Login</button>
    </ion-item>

    <ion-item-divider color="light">Rounds</ion-item-divider>
    <ion-item text-center>
      <button ion-button clear (click)="getPreparingRounds()">Get Preparing Rounds</button>
    </ion-item>

    <ion-item *ngFor="let r of preparingRounds">
      <ion-thumbnail item-start>
        <img *ngIf="r.product.images" [src]="r.product.images[0]">
      </ion-thumbnail>
      <h2> Round ID: {{r.id}} </h2>
      <p> Product Name: {{r.product.name}} </p>
      <p>{{r.drawCounts?.current}}/{{r.drawCounts?.target}}</p>
      <!--p style="white-space: pre-wrap;">
        <span *ngFor="let d of user.draws[r.id]"> {{d}} </span>
      </p-->
      <button ion-button clear item-end (click)="buyDraws(r.id)">Buy</button>
      <button ion-button clear item-end color="secondary" (click)="showAllDraws(r.id)">Show</button>
    </ion-item>

    <ion-item-divider color="light">Payment</ion-item-divider>
    <ion-item text-center>
      <button ion-button clear (click)="makePayment()">Makey Payment</button>
    </ion-item>
  </ion-item-group>
</ion-content>
