<ion-header>
    <ion-navbar color="danger">
        <ion-buttons start>
            <button ion-button></button>
        </ion-buttons>
        <ion-title>
            {{ pageTitle | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content id="page2" class="bg">
    <ion-card *ngFor="let item of feeds" class="bg" style="border: none;  box-shadow: none">
        <ion-list>

            <ion-item class="bg" style=" padding-left: 0px;">
                <ion-avatar item-left>
                    <img src="assets/img/{{item.profile_img}}" />
                </ion-avatar>
                <h2>
                    {{item.user}}
                </h2>
                <span item-right style="font-size: 12px; color: #888">{{item.date}}</span>
            </ion-item>


            <ion-item padding-top class="spacing" text-wrap>
                <div padding-bottom>

                    <span><strong>{{item.title}} </strong></span>
                    <span margin-right float-right> <ion-icon ios="ios-create-outline" md="md-create"></ion-icon></span>
                </div>

                <div class="show-list-numbers-and-dots">
                    <p padding-bottom>
                        iPhone 8 introduces an all‑new glass design. The world&#39;s most popular camera, now even better.
                    </p>
                </div>

                <div ion-row>
                    <div col-4 *ngFor="let img of item.images">

                        <img class="product-img" alt="img.alt" src="assets/img/{{img.url}}" />

                    </div>

                </div>

            </ion-item>
            <div class="bottom-text">
                <span>Some text here </span>
                <p>Some more text here</p>
            </div>
        </ion-list>
    </ion-card>

</ion-content>