page-bind-phone {
    .toolbar-background {
        background: $header-bg-color;
    }
    .toolbar-title {
        color: $secondary-color;
    }
    .list-ios>.item-block:first-child {
        /* border-top: 0.55px solid #c8c7cc; */
        border: none;
    }
    .bannersection h3 {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 30px;
        left: 50%;
        margin: 0 0;
        color: $secondary-color;
        width: 80%;
        text-align: center;
        font-size: 16px;
    }
    .bannersection h3 img {
        margin-bottom: 15px;
    }
    .bannersection .clist {
        top: 45%;
    }
    .bannersection .clist .icon {
        font-size: 1.4em;
    }
    .bannersection {
        position: relative;
    }
    .cc img {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }
    .cc span {
        font-size: 16px;
        margin-top: 5px;
        display: inline-block;
    }
    .cc a {
        font-size: 15px;
        margin-top: 5px;
    }
    .popover-ios .popover-content {
        width: 250px !important;
    }
    .phone .item-inner {
        border: none !important;
        border-top: solid 1px #888;
    }
    .phone .label {
        color: #888;
        border-right: solid 1px #888;
    }
    .item-inner {}
    .fs01 {
        width: 80%;
        margin: 0 auto;
    }
    .fs01 input {
        text-align: center;
    }
}