<ion-header no-shadow>
	<ion-navbar>
		<ion-buttons text-center>
			<button ion-button color="dark">{{'REVEAL_SOON' | translate}}</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content no-bounce>
	<ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
		<ion-slide *ngFor="let slide of slides">
			<img [src]="slide.image" class="slide-image" />
		</ion-slide>
	</ion-slides>
	
	<ion-grid>
		<ion-row>
			<ion-col col-12><p class="big">{{'MOBILE_NAME' | translate}}</p></ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-8><p class="small grey">{{'MOBILE_MODEL_NO' | translate}}</p></ion-col>
			<ion-col col-4><p class="small grey" float-right>{{'MOBILE_PRICE' | translate}}</p></ion-col>
		</ion-row>
	</ion-grid>


	<ion-card class="border-red-card">	
		
		<ion-card-content class="card-content-label">
			<ion-row>
				<ion-col col-3><div class="red-label">{{'RED_LABEL' | translate}}</div></ion-col>
				<ion-col col-6><p class="small grey" >{{'CARD_HEADER' | translate}}</p>
					<ion-row class="color-red mar-top time-row">
						<ion-col col-4>
								<div class="time-label">02</div> <span class="colon">:</span>
						</ion-col>
						<ion-col col-4>
								<div class="time-label">20</div> <span class="colon">:</span>
						</ion-col>
						<ion-col col-4>
								<div class="time-label">36</div>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col col-3 float-right (click)="showTable()"><p class="small color-red mar-left" >{{'NEXT' | translate}}<ion-icon name="arrow-forward"></ion-icon></p></ion-col>
			</ion-row>
		</ion-card-content>
	
	</ion-card>


	<ion-grid>
		<ion-row>
			<ion-col col-12><button ion-button full color="light" class="box-shad">{{'PRODUCT_PROPERTIES_BELOW' | translate}}</button></ion-col>
		</ion-row>
	</ion-grid>

	<p class="extra-space"></p>

	<ion-list no-lines>
		<button ion-item *ngFor="let item of items;let i=index" (click)="listpage(i)">
			{{ item }}
			<ion-icon md="md-arrow-dropright" float-right></ion-icon> 
		</button>
		
	</ion-list>

	<p class="extra-space"></p>

	<ion-list>
		<ion-list-header class="big red-left">
			 {{'LIST_OF_PROPERTIES_BELOW' | translate}}
		</ion-list-header>
		<ion-item *ngFor="let list of lists">
			<ion-avatar item-start>
				<img [src]="list.imageSrc">
			</ion-avatar>
			<ion-grid>
				<ion-row>
					<ion-col col-5><h2>{{list.content1}}</h2></ion-col>
					<ion-col col-7><h3 float-right class="grey">{{list.date}}</h3></ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-5 class="small"><span class="red">{{list.dis}}</span> <span class="grey"> {{list.off}}</span></ion-col>
					<ion-col col-7><h5 float-right class="grey">{{list.ip}}</h5></ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>

</ion-content>
