page-search {
    .toolbar-background {
      background: transparent;
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 2.8rem;
    }
  
    .slide-image {
      max-height: 75%;
      max-width: 25%;
      margin: 25px 0;
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      margin: 0 0 0 0;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }
    }
  
    .big{
      font-size: 20px;
    }
  
    .small{
      font-size: 16px;
    }
  
    .swiper-container{
        height: 35%;
    }
  
    .pull-right{
      float: right;
    }
  
    .download-icon{
      color: red;
      font-size: 3.2em;
    }
  
    .pull-center{
      text-align: center;
    }
  
    .mar-top{
      margin-top: 15px;
    }
  
    .red-left {
      .label-ios, .label-md{
        border-left: 5px solid red;
        padding-left: 5px;
      }
    }
  
    .red{
      color: red;
    }
  
    ion-avatar img {
        width: 50px !important;
        height: 50px !important;
    }
  
    .extra-space{
      height: 10px;
      background: #f4f4f4;
    }
  
    .button-bottom{
      box-shadow: 0 0 0 0 ;
      height: 4.6rem;
    }
  
    .box-shad{
      box-shadow: 0 0 0 0 ;
    }
  }
  
  ion-slides{
    height: auto;
  }
  
  .label-ios, .label-md {
    margin: 0 0 0 0 !important;
  }
  
  .list-ios, .list-md{
    margin: 10px 0 0 0 !important;
  }
  
  .list-md + ion-list ion-list-header {
    margin: 0 0 0 0 !important;
  }
  
  .item-block .item-inner {
    border-bottom: 0 solid #c8c7cc !important;
  }
  
  .item{
    border-bottom: 0.05px solid #c8c7cc;
  }
  
  .button-ios, .grid, [col-6]{
    margin: 0 0;
    padding: 0 0;
  }
  
  .list-header-md{
    margin-bottom: 0;
    border-top: 0;
  }
  .border-red-card {
    border: 1px solid red;
    background: rgba(255, 0,0, 0.24);
    text-align: center;
  }
  
  .color-red {
    color:red !important;
  }
  
  .time-label {
    border: 1px solid red;
    border-radius:3px;
    background: #efefef;
    float:left;
    color:red;
    padding: 3px 7px;
    margin-right: 1px;
    font-size: 18px;
  }
  
  .colon {
    display: inline-block;
    margin-top: 6px;
    font-size: 15px;
  }
  
  .red-label {
    background: red;
    color:#fff;
    -ms-transform: rotate(-55deg); /* IE 9 */
    -webkit-transform: rotate(-55deg); /* Safari */
    transform: rotate(-55deg); /* Standard syntax */
    margin: 8px 26px 0 -48px;
  }
  
  .card-content-label {
    padding-top:0;
  }
  
  .mar-top{
    margin-top: 40px;
  }
  
  .mar-left{
    margin-left: 15px !important;
  }