page-setting {
ion-row.titlerow .col,ion-header.header.header-md {    text-align: center;    text-transform: uppercase;}
ion-row.titlerow .active.col img {    display: table;    margin: 10px auto 0;    height: 6px;}
ion-grid.grdiborder.grid { box-shadow: 6px 0px 7px #978f8f;   padding: 20px 0 5px;}
.card-inner-custom {    float: left;padding: 0 0 24px;}
span.button-inner.custom-button-inner {float: left;width: 65px;color:color($colors,danger);position: absolute;top: 54px;height: 18px;right: -4px;text-transform: uppercase;}
span.button-inner.custom-button-inner .item-icon {    font-size: 20px;    position: relative;left: 3px;}
.border-active {    width: 15px;    height: 5px;    background: color($colors,danger);    display: table;    margin: 0px auto;}
ion-row.titlerow.row .label-md {    margin: 0 0 0 0;    font-size: 16px;}
.progress {    clear: both;    background: #e8e5e5;    width: 79%;    border-radius: 5px;}
.progress-bar {    background: #e46f07;border-radius: 9px;    height: 10px;}
.progress-bar span{    color: transparent;	opacity:0;}
.progress.progessderail {    background: transparent;    font-size: 13px;}
.progress.progessderail .right {    float: right;}
button.submitbtn {    position: absolute;    top: 91px;    right: 4px;}
.image-product img {    margin-right: 10px;    height: 40px;    margin: 9px 5px;     width: 60px;    float: left;}
.image-product{border:1px solid #eae9e9;    margin-right: 8px;    float: left;}
img.stamp {
    position: absolute;
    width: 80px;
    right: -11px;
    top: -4px;
}
.label-md{
margin-bottom:18px;}
}
