page-mine {
    .header-ios .toolbar-background-ios {
        border: none;
    }
    .toolbar-background-ios {
        background: $header-bg-color !important;
        border: none;
    }
    .toolbar-title-ios {
        color: $secondary-color;
    }
    .bannersection h3 {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 30px;
        left: 50%;
        margin: 0 0;
        color: #fff
    }
    .bannersection .clist {
        top: 65%;
    }
    .bannersection {
        position: relative;
    }
    ion-icon.icon.icon-md.ion-md-create {
        color: #fff;
        position: absolute;
        right: 23px;
        top: 18px;
        font-size: 24px;
    }
    .buttondanger {
        margin: 0px auto 0;
        display: table;
        background: #fff;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .calss-usback {
        padding: 13px 0;
        text-align: center;
        font-size: 17px;
    }
    .ion-ios-arrow-forward-outline {
        float: right;
    }
    .scroll-content {
        background: #f5f0f0;
    }
    col,
    ion-header.header.header-md {
        text-align: center;
    }
    .bar-button-md.bar-button-default.bar-button-default-md {
        font-size: 22px;
    }
    .bannersection img {
        width: 100%;
    }
}