page-singleproduct {
.slide-zoom img {    max-width: 200px;}
.ion-md-share {    position: absolute;    right: 24px;    top: 10px;    font-size: 34px;}
.scrolltop img {    position: absolute;    right: 10px;    bottom: -11px;    height: 44px;}
.scrolltop {    position: relative;}
.darksubmit{width:100%;}
.customrow h6{margin-top:0;margin-bottom: 0;}
.progress {    clear: both;    background: #e8e5e5;    width: 79%;    border-radius: 5px;}
.progress-bar {    background: #ff7800;border-radius: 3px;}
.progress-bar span{    color: transparent;	opacity:0;}
.progress.progessderail {    background: transparent;    font-size: 13px;}
.progress.progessderail .right {    float: right;}
.innergrey{background:#efefef}
}
