page-signup {
    .toolbar-background-ios {
        background: $header-bg-color;
    }
    .toolbar-title-ios {
        color: $secondary-color;
    }
    .bannersection h3 {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 30px;
        left: 50%;
        margin: 0 0;
        color: $secondary-color;
        width: 80%;
        text-align: center
    }
    .bannersection .clist {
        top: 45%;
    }
    .bannersection .clist .icon {
        font-size: 1.4em;
    }
    .bannersection {
        position: relative;
    }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: $secondary-color !important;
    }
    .input-wrapper {
        padding-left: 10px;
        padding-top: 10px;
        border-bottom: solid 1px #ddd;
    }
    .label-ios+ion-input .text-input,
    .label-ios+ion-textarea .text-input,
    .label-ios+.input+.cloned-input {
        color: $primary-font-color;
    }
    .button-ios {
        background-color: #EF0100 !important;
    }
    .forgot-text {
        font-size: 12px;
        text-decoration: none;
    }
    .header-ios .toolbar-background-ios {
        border: none;
    }
    .social {
        text-align: center;
        color: $primary-font-color;
        font-size: 14px;
        border: none;
        border-top: solid 1px #bbb;
    }
    .social a {}
    .social a img {
        width: 60px;
        height: auto;
        margin: 0 10px;
        display: inline-block;
    }
    .list-ios>.item-block:first-child {
        /* border-top: 0.55px solid #c8c7cc; */
        border: none;
    }
    .remember .checkbox {
        vertical-align: sub;
    }
    .remember span {
        font-size: 16px;
        display: inline-block
    }
}