page-confirm {
.ion-ios-checkmark-circle-outline {color: #328c28;font-size: 12em;    margin: 0px auto;display: table;}
.scroll-content h1 {  margin: 0 0; text-align: center;}
.confirmbrn {    display: table;    margin: 0 auto 10px;}
.confirmbrn button {    padding: 0 20px;    font-size: 16px;    margin: 20px 6px 0;}
.toolbar-title.toolbar-title-md {    text-align: center;}
ion-list.list.list-md {    font-size: 20px;    padding: 10px 10px;}
.pricecard {    margin: 34px 0 0 0;width:100%;}
.pricecard ion-list.list.list-md{    border-left: 11px solid red;}
ion-card.card.card-md {    margin-top: 3px;	position:relative;}
.ion-ios-arrow-dropdown-circle-outline {    position: absolute;    bottom: 15px;    right: 17px;}
.scroll-content {
    background: #f7f7f7;
}
}
